@import 'jekyll-theme-leap-day';

@media print, screen and (max-width: 480px) {
  body {
  }

  header{
    position: relative;
    padding: 5px 0px;
    min-height: 0px;

    h1 {
      font-size: 24px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
    }
  }
  section {
    margin-top: 5px;
  }

  #banner { display: block;position: relative;}
  header ul {
    display:none;
  }
}
